# This is a template file for contents of the keys.dart
# file. Make a copy of this file with .template 
# extension removed, then change the key contents
# to valid values. Sorry for not opening this, but
# the key is there to make it at least slightly more
# difficult to upload invalid data.

class Keys {
  static const String API_KEY = "<your API key goes here>";
}